.blog-page {
  padding-top: 15rem;
  .blog-page_container {
    display: flex;
  }
  .blog-page_left {
    flex-basis: 64.2%;
    padding-bottom: 50px;
    .post {
      padding: 4rem 2.5rem;
      border: 6px solid #E7F598;
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
    }
  }
  .blog-page_sidebar-wrap {
    flex-basis: calc(30% - 30px);
    margin-left: 30px;
  }
}

.entry-title {
  text-align: center;
  font-family: $oswald-font;
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: 600;
}

.post-thumbnail {
  img {
    width: 720px !important;
    height: 340px !important;
    object-fit: cover;
  }
}

.blog-page_title {
  text-align: center;
  font-family: $oswald-font;
  font-size: 32px;
  margin-bottom: 25px;
  font-weight: 600;
}

.entry-header {
  text-align: center;
}

.entry-content {
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
  position: relative;

}

.more-link {
  position: absolute;
  left: 0;
  bottom: -55px;
  display: block;
  font-family: $oswald-font;

  font-size: 24px;
  line-height: 36px;
  color: #FF3B57;
  &:hover {

    text-decoration: underline;

  }
}

.entry-summary {
  margin-top: 35px;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
  position: relative;
}

.entry-meta {
  text-align: right;

}

.posted-on {

  font-size: 14px;
  line-height: 19px;

  color: #A6A5A5;

  .updated {
    display: none;
  }
  .entry-date.updated {
    display: block;
  }
}

.blog-full {
  padding: 15rem;
  .more-link {
    position: static;
  }
  .posted-on {
    display: none;
  }
}

.post-thumbnail {
  text-align: center;

}

.widget_categories {
  .widget-title {
    font-family: $oswald-font;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    padding-left: 15px;
  }
  ul {
    margin-top: 25px;
    li {
      padding: 15px 40px;
      font-family: $oswald-font;
      border-bottom: 1px solid #DCDCDC;
      font-size: 22px;
      background: #F7F7F7;
      position: relative;
      transition: background-color .25s;
      &.current-cat {
        &:before {
          background-color: $red-third;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        background-color: #F3F3F3;
        width: 15px;
        display: block;
        transition: background-color .25s;
      }
      &:hover {
        &:before {
          background-color: $red-third;
        }
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.blog {
  ol {
    //list-style: decimal;


    li {

      padding-top: 10px;
      &:first-child{
        padding-top: 0;
        &:before{
          top: 0;
        }
      }

      &:before {
        content: counter(li)'.';
        color: red;
        transform: none;
        background-color: transparent;
        top: 10px;
        left: -20px;

      }
      counter-increment: li;
    }
  }
}

@media only screen and (max-width: $screen-sm-max) {
  .post-thumbnail img {
    width: 100% !important;
    height: auto !important;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .blog-page {
    padding-top: 15rem;
    text-align: center;
    padding-top: 10rem;
    .blog-page_container {
      display: block;
    }
    .blog-page_left {
      padding-bottom: 30px;
    }
    .blog-page_sidebar-wrap {
      margin-left: 0;
      margin-bottom: 30px;
    }
  }
  .more-link {
    padding-top: 20px;
    position: static;
  }
  .entry-meta {
    text-align: center;
  }
  .blog-full {
    padding: 10rem 15px 30px;
    text-align: center;
    .more-link {
      padding-top: 0;
    }
  }
  .blog-page_title {
    font-size: 25px;
  }
}