.border-trap {

  &:after {
    content: '';

    height: 0;
    border-bottom: 100px solid $red-third;
    border-right: 75px solid transparent;
    display: block;
  }
  &--reverse {
    margin: 0 0 0 auto;
    &:after {
      border-left: 51px solid transparent;
      border-right: none;
    }
  }
}