.faq {
  position: relative;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #efefef;
  .img-pos1 {
    left: 0;
    top: 2%;
    max-height: 40rem;
  }
  .img-pos3 {
    right: 0;
    top: 35%;
  }
  &_top {
    position: absolute;
    top: 0;
    left: 0;
  }

  &_acco {

    &_content {
      background-color: #ffe2c9;
      padding-left: 5rem;
      padding-bottom: 5rem;
      line-height: 1.7;
      border-radius: 0 0 55px 55px;
      padding-top: 2rem;
    }
  }
  .open-btn {

  }
  &_bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  //&_item_active{
  //  .faq_acco{
  //    height: 100%;
  //    opacity: 1;
  //    visibility: visible;
  //
  //  }
  //  .faq_acco_content{
  //    height: 100%;
  //    opacity: 1;
  //    visibility: visible;
  //
  //  }
  //}
  &_list {
    margin-top: 6rem;
    width: 100%;
    border-radius: 10px;

  }
  &_item_content {
    width: 100%;
    border-radius: 0 0 55px 55px;
    border: 5px solid #efefef;
    ul {
      margin-left: 3rem;
      li {
        list-style: disc;
      }
    }
  }
  .is-close {
    .faq_item_content {
      transition: background-color .9s;

    }

  }
  &_triangle {
    font-size: 2.4rem;
    font-weight: 600;
    color: #232323;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: inline-block;
    padding-left: 6.5rem;
    padding-right: 4.5rem;
    line-height: 1.3;
    &:hover {
      cursor: pointer;
    }
  }

  &_item_wrapp {
    min-height: 11.7rem;
    display: flex;
    align-items: center;
    background-color: #fff0c1;
    padding-left: 2rem;
    box-shadow: 0px 6px 1px 0px rgba(44, 44, 44, 0.21);
    border-radius: 20rem;
    position: relative;
  }
  &_item {
    margin-top: 2rem;

    .faq_item_content {
      border-bottom: none;
      background-color: #ffe2c9;

    }

    border-radius: 65px;
    .faq_item_content {

      border-radius: 65px;
    }

  }
  &_item-icon {
    width: 50px;
    height: 50px;
    background-color: $orange;
    border-radius: 50%;

    display: inline-block;
    position: absolute;

    &:before {
      content: '?';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 39px;
      font-weight: 900;
      color: $white;
    }
  }
}

.faq--vip {
  background-color: $white;
  font-family: $oswald-font;
  position: relative;
  padding-bottom: 1rem;
  padding-top: 1rem;
  .bg-img-section1 {
    position: absolute;
    right: 0;
    top: 20rem;
  }
  .bg-img-section2 {
    position: absolute;
    left: 0;
    top: 40rem;
  }
  &_columns {
    display: flex;
  }
  .faq_list {
    position: relative;
    z-index: 2;
    &:last-child {
      margin-left: 2rem;
    }

    .is-close {
      .faq_item_wrapp, .faq_item_content {
        background-color: #f0f0f0;
      }
      .faq_item-icon {
        &:before {
          transform: translate(-61%, -50%) rotate(45deg);
        }
      }
    }
  }
  .faq_item-icon {
    right: 1rem;
  }
  .faq_triangle {
    padding-left: 0;
    font-size: 2rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    text-transform: uppercase;
  }
  .faq_acco_content {
    font-size: 1.6rem;
    background-color: $white;
    border-radius: 0;
    padding: 2rem;
    border: 2px solid #e7f598;
    border-top: none;
  }
  .faq_item {
    .faq_item_wrapp {
      background-color: #e7f598;
      min-height: 8.6rem;
      box-shadow: none;
    }
    .faq_item_content {
      background-color: $white;
      border: none;
      ul {
        margin-left: 2.2rem;
      }
    }
    &-icon {
      width: 2rem;
      height: 2rem;
      background-color: transparent;
      border: 2px solid $black;
      border-radius: 50%;
      &:before {
        content: '';
        border-top: 2px solid $black;
        border-right: 2px solid $black;
        width: .7rem;
        height: .7rem;
        color: $black;

        transform: translate(-50%, -61%) rotate(135deg);
      }
    }

  }
  .faq_item_wrapp, .faq_item, .faq_item_content {
    border-radius: 0;
  }
}
@media only screen and (max-width: $screen-sm-max) {
  .faq--vip{
    .faq_triangle{
      font-size: 1.6rem;
    }
  }
}
@media only screen and (max-width: $screen-xs-max) {
  .faq--vip{
    .faq--vip_columns{
      flex-direction: column;
    }
    .faq_list{
      margin-left: 0 !important;
      margin-top: 0;
      &:first-child{
        margin-top: 4rem;
      }
    }

  }
  .faq_item .faq_item_content {
    border-radius: 115px;
  }
  .faq {

    padding-top: 4rem;
    padding-bottom: 4rem;
    &_top {
      display: none;
    }

    &_bottom {
      display: none;
    }
    &_list {
      margin-top: 3rem;
    }

    &_triangle {
      font-size: 1.6rem;
      padding-left: 3.5rem;
    }
    &_acco_content {
      padding-left: 3.7rem;
      line-height: 1.5;
      p {
        font-size: 1.6rem;
      }
    }

  }
}

@media only screen and (max-width: 350px) {
  .faq_item-icon {
    display: none;
  }

}