.page-numbers {

  vertical-align: middle;
  font-weight: 600;
  font-size: 3rem;

  padding: .5rem 0;
  background-color: transparent;

  transition: color .25s;
  margin: 1rem auto 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: #f03866;
  }
  .next, .prev{

    position: relative;

    &:after{
      content: '';
      position: absolute;
      left: 20px;
      border: 10px solid transparent;
      border-top: 17px solid #e7f598;
      transform: rotate(-90deg);

    }
  }
  .prev{
    &:after{
      left: auto;
      right: 20px;
      transform: rotate(90deg);
    }
  }
  li {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }

  }
}
.page-numbers, .photo-section .page-numbers {
  font-size: 2.6rem;
  font-weight: 400;
}
.page-numbers.current, .photo-section .page-numbers.current {
  font-size: 2.6rem;
  font-weight: 600;
  border-bottom:1px solid $black;
  color: $black;

}



//@media only screen and (max-width: $screen-sm-max) {
//  .page-numbers {
//
//    font-size: 2rem;
//
//    padding: 1.2rem .7rem;
//
//    &:hover{
//      color: #f03866;
//    }
//  }
//  .page-numbers.current {
//
//    padding-left: 1.5rem;
//    padding-right: 1.5rem;
//
//  }
//}