.review-section {
  padding-top: 5rem;
  padding-bottom: 8rem;
  position: relative;
  .img-pos2{
    bottom: 10%;
    right: 0;
  }
  .img-pos3{
    top: 15%;
    left: 0;
    height: 40rem;
  }
  &_list {
    text-align: center;
  }
  &_item {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    text-align: left;

    &--reverse {
      flex-direction: row-reverse;
    }

  }
  &_img-block {
    flex-basis: 40%;
  }
  &_text {
    flex-basis: 55%;
  }
  &_title {
    font-size: 2.4rem;
    font-weight: 600;
  }
  &_desc {
    margin-top: 3rem;
    p {
      line-height: 1.6;
      font-weight: 300;
      font-size: 1.5rem;
      color: #373737;
    }
  }

}

@media only screen and (max-width: $screen-xs-max) {
  .review-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    &_item {
      flex-direction: column;

    }
  }
}