.action_content-timer {
  display: flex;
  justify-content: space-between;
  max-width: 35rem;
  margin: 2.5rem auto 0;
  p{
    padding-top: 1rem  ;
  }
}

.timer-number {
  width: 7.3rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-color: $yellow;
  background-image: linear-gradient(to bottom, #e7f598 50%, $yellow 50%);
  border-radius: 5px;
  font-size: 5rem;
  margin-bottom: 2rem;
padding: 1.5rem;
}

.timer-name {
  font-size: 18px;
  text-transform: lowercase;
  //margin-top: 1.2rem;
  line-height: 0;
}

@media only screen and (max-width: $screen-xxs) {
  .action_content-timer {
    max-width: 30rem;
  }
  .timer-number {
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;


    font-size: 2.6rem;
    margin-bottom: 2rem;

  }

}
