.video_slider {
  .arrow-slide {
    background-image: url('../../assets/images/icon/vip-slider.png');
  }
  .arrow-right-slide {
    transform: rotate(0);
  }
  .arrow-left-slide {
    transform: rotate(180deg);
  }
  .slick-slide {
    margin-left: 10px;
    margin-right: 10px;
  }
  .video_slider-elem {
    border-radius: 7px;

  }

  .slick-current {
    transition: transform .25s;
    opacity: 1;
  }
  .plyr__control--overlaid {
    background: $red-third;
  }
  .plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
    background: $red-third;
    color: #fff;
  }
  .plyr--full-ui input[type=range] {
    color: $red-third;
  }

  .plyr:fullscreen {
    .plyr__controls__item.plyr__progress__container {
      display: block;
      width: 86%;
    }
  }
  .slider_btn--next {
    right: -3.5rem;
  }
  .slider_btn--prev {
    left: -3.5rem;
  }
}

.video_content {
  margin-top: 60px;
}

.video-section {
  margin-top: 60px;
  margin-bottom: 60px;
}
